
h1{
   text-align: center;
}
body{

    background-image: url(gallerybackground.jpg);
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
    float: left;
}

.grid-container {
  display: grid;
  grid-gap: 30px 60px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item { 
  border: 1px (0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}